* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

.historia__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.historia__title,
.ubicacion__title{
    font-size: 70px;
    text-decoration: underline #D6BA8B;
    color: white;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
}

.historia__title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.historia__text {
    position: absolute;
    color: white;
    text-align: center;
    top: 60%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.ubicacion__container {
    display: flex;
    flex-direction: column;
    background-color: #D6BA8B;
}

.ubicacion__title {
    display: flex;
    justify-content: center;
    text-decoration: underline #30241A;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.ubicacion__row {
    display: flex;
    flex-direction: row;
}

.ubicacion__text {
    width: 50%;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px;
}

iframe {
    width: 50%;
    padding: 15px;
}

@media only screen and (max-width: 480px) {
    .historia__title {
      font-size: 26px !important;
      top: 40%;
    }
    
    .historia__text {
      font-size: 10px !important; 
      top: 65%;
      width: 60%;
    }
    
    .ubicacion__title {
      font-size: 30px !important;
      margin: 10px 0;
    }
    
    .ubicacion__text {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    
    iframe {
      width: 100%;
      height: 200px;
    }
    
    .ubicacion__row {
      flex-direction: column;
    }
  }
  
  

@media only screen and (max-width: 767px) {
    .historia__title {
      font-size: 36px;
      top: 35%;
    }
    
    .historia__text {
      width: 70%;
      font-size: 16px;
      top: 65%;
    }
    
    .ubicacion__title {
      font-size: 36px;
      margin-top: 10px;
    }
    
    .ubicacion__row {
      flex-direction: column;
    }
    
    .ubicacion__text,
    iframe {
      width: 100%;
    }
  }

  
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .historia__title {
    font-size: 57px;
    top: 40%;
  }
  
  .historia__text {
    font-size: 20px;
    top: 60%;
    width: 70%;
  }
  
  .ubicacion__title {
    font-size: 50px;
    margin-top: 15px;
  }
  
  .ubicacion__text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  
  iframe {
    width: 100%;
    height: 300px;
  }
}


