* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #D6BA8B;
}

.contacto__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.contacto__title {
    font-size: 60px;
    text-decoration: underline;
    color: #30241A;
    margin: 30px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
}

.contacto__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contacto__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 10px;
}

.contacto__label {
    font-size: 25px;
    margin-bottom: 10px;
}

.contacto__input {
    padding: 15px;
    height: 50px;
    width: 500px;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: none;
}

.contacto__row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.contacto__mensaje {
    margin: 15px 20px;
}

.contacto__textarea{
    width: 100%;
    height: 500px;
    padding: 30px;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: none;
}

.contacto__btn {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    background-color: #30241A;
    outline: none;
    color: white;
    font-size: 30px;
}

